<html lang="en">
<head>
   <meta charset="utf-8">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script type="text/javascript" src="/js/main.js">
</script>
</head>
  <title>{{ heading }}</title>
<body>
    {{{ body }}}
</body>
</html>
