<h1>{{ title }}</h1>
<p>Welcome to {{ title }}</p>
<body>
<form action="/test/submit" method="post">

    <label> Please enter the number of candidates present </label>
    <input type="text" name="textid">
    <button type="submit" name="buttonSubmit">Submit</button>
</form>
</body>