<head>
   <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
   
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script type="text/javascript" src="/js/main.js">
</script>
</head>
<h1>Feedback form</h1>
<p>Feedin your Feedback please!!!</p>
<body>


<div class="container">
    <form name="inputForm" id="inputForm"  method="post" action="/test/submit">
    <div class="row">
      <div class="col-25">
        <label for="fname">Employee Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="empNo" name="empNo" placeholder="Your number.." onkeypress="javascript:return isNumber(event)">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="fname">First Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="Your name.." onkeypress="javascript:return onlyAlphabets(event)">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Last Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="lastname" placeholder="Your last name.." onkeypress="javascript:return onlyAlphabets(event)">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="team">Team</label>
      </div>
      <div class="col-75">
        <select id="team" name="team">
          <option value="it">IT</option>
          <option value="development">Development</option>
          <option value="testing">Testing</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="feedbackText">Feedback</label>
      </div>
      <div class="col-75">
        <textarea id="feedbackText" name="feedbackText" placeholder="Write something.."> </textarea>
      </div>
    </div>
    <div class="row">
       <input type="submit" value="Submit">
    </div>   
    </form>
</div>

   


</body>