<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    
     <link href="/stylesheets/style.css" rel="stylesheet">
     <script type="text/javascript" src="/js/main.js">
 </script>
 </head>
 <h1>Thank you for your Feedback {{ output }}</h1>
 <body>
 
 

     <form name="backForm" id="backForm"  method="post" action="/back" enctype="application/x-www-form-urlencoded">
     
     <div class="row">
        <input type="submit" value="Back to Home">
     </div>   
     </form>
 
 </body>